<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      As a Lead Software Engineer at Providence India,
      I develop and implement full-stack web and mobile experiences with custom UI components.
      I have 9 years of professional working experience.
      and I have completed multiple projects with high-quality standards and customer satisfaction.
    </p>

    <p>
      I hold a Bachelor of Technology degree in Computer Science and Engineering from Jawaharlal Nehru Technological University, 
      and I have also acquired certifications in Data Science, Application Security, and Data Engineering. 
      I am proficient in building full-stack web and mobile experiences with end-to-end development and deployment in the cloud.
    </p>

    {% include employment-status.html %}
  </div>
  
</section>
